Body {
  background-color: red;
  Margin: 0px;
}
.Header {
  text-align: center;

}
Header {
  background-color: Black;
  height: 50px;
  display: flex;
}
.Header_Button {
  margin: auto;
  background-color: blue;

}
a {
margin: auto;
}
#Header_MainPage {
  margin: auto;
  background-color: blue;

}
#Header_Name {
  Color: White;
  text-align: center;
  font-family: Garamond;
  font-size: 32px;
  margin: auto;

}
#BoxforQuote {
  margin:  auto;
  position: absolute;
  left: 50%;
  top: 65%;
  transform:  translate(-50%, -50%);

}
#Quote {
  margin: auto;
  text-align: center;
  font-size: 44px;
}
#Text_under_Quote {
  margin: auto;
  font-size: 32px;
}
