Body {
  background-color: red;
  Margin: 0px;
}
.Header {
  text-align: center;

}
Header {
  background-color: Black;
  height: 3.55vmax;
  min-height: 7vmin;
  width: 100vw;
  display: flex;
}
.Header_Button {
  margin: auto;
  background-color: blue;

}
a {
margin: auto;
}
#Header_MainPage {
  margin: auto;
  background-color: blue;

}
#Header_Name {
  Color: White;
  text-align: center;
  font-family: Garamond;
  font-size: 2vmax;
  margin: auto;

}
.BoxforBox {
  margin:  auto;
  position: absolute;
  left: 50vw;
  top: 47vh;
  transform:  translate(-50vw, -40vh);
  width: 100vw;
  height: 80vmin;
  background-color: green;
}
#BoxforQuote {
 width: 80vw;
 position: absolute;
 left: 50vw;
 transform:  translate(-50%, 20%);
}
#BoxforQuote2{
  margin:  auto;
  position: absolute;
  left: 50vw;
  top: 58vh;
  transform:  translate(-50%, 65%);
  width: 80vw;
  height: 60vmin;
}
#BoxforQuote3{
  margin:  auto;
  position: absolute;
  left: 50%;
  top: 58%;
  transform:  translate(-50%, 180%);
  width: 80%;
  height: 60vmin;
}
#Quote {
  margin: auto;
  text-align: center;
  font-size: 4.05vw;
}
#Text_under_Quote {
  margin: auto;
  font-size: 2.45vw;
  padding: 15px;
  text-align: center;
}








footer {
  background-color: green;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 100%;
}
#table {
  width: 100%;
  font-size: 24px;
}
.slideshow {
  background-color: green;
  width: 50%;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 105%;
  transform:  translate(-50%, -50%);
}
